<div *ngIf="!loading" class="flex-row">
    <img src="{{details.poster}}" alt="movie poster">
    <mat-card class="card">
        <mat-card-title-group>
            <mat-card-title>{{details.title}}</mat-card-title>
            <mat-card-subtitle>{{details.date}}</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <p>
                <strong>Director(s): </strong>
                {{details.director}}
            </p>
            <p>
                <strong>Language: </strong>
                {{details.idioma}}
            </p>
            <p>
                <strong>Genre(s): </strong>
                {{details.genre}}
            </p>
            <p>
                <strong>Plot: </strong>
                {{details.plot}}
            </p>
            <p>
                <strong>Duration: </strong>
                {{details.duration}}
            </p>
            <div [ngClass]="{
                'red score':details.metascore < 50,
                'green score':details.metascore >=75,
                'yellow score':details.metascore >= 50 && details.metascore < 75
              }">
                {{details.metascore}}
            </div>
        </mat-card-content>
    </mat-card>
    
</div>
<div *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>


